#breakout {
    background-color: black;
  }
  
  #play-button {
    background-color:rgba(0, 0, 0 , 1.00);
    color:hsla(240, 100%, 50%, 0.986);
    border-radius:10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    padding:auto;
    font-size:20px;
  }